# Flutter / Dart related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.pub-cache/
build/
coverage/
.dart_tool/
generated_plugin_registrant.dart

# iOS
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Android
.android/
app/build/
*.iml
android/.gradle/
android/.idea/
android/local.properties
android/gradle.properties

# Web
web/generated_plugin_registrant.dart

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/
macos/build/
macos/.generated/
*.xcworkspace
*.xcodeproj
*.xcuserdata

# Windows
windows/flutter/ephemeral/
windows/build/
windows/.generated/

# Linux
linux/flutter/ephemeral/
linux/build/
linux/.generated/

# Other
*.log
*.lock
*.DS_Store
pubspec.lock
